In [1]:
student = {
    "name": "John",
    "age" :25,
    "course" :"Python",
    "marks":78
}
print(student)

{'name': 'John', 'age': 25, 'course': 'Python', 'marks': 78}

In [2]:
info =dict(name = "John", age = 25, course =  "Python", marks = 78)
print(info)

{'name': 'John', 'age': 25, 'course': 'Python', 'marks': 78}

In [3]:
info=dict(name=input("Enter Your Name: "),age=int(input("Enter Your age: ")),course=input("Enter your course: "),marks=int(input("Enter your marks")))
print(info)

{'name': 'Avirat', 'age': 21, 'course': 'DSA', 'marks': 45}

In [4]:
temp = {
    'lucknow' : [32,36,38],
    'kanpur' : [35,37,40],
    'delhi'  :[36,37,40]
}
print(temp)

{'lucknow': [32, 36, 38], 'kanpur': [35, 37, 40], 'delhi': [36, 37, 40]}

In [5]:
#1st method to access values through keys
print(student['name'])
print(student['age'])

John
25

In [6]:
#2nd method to access value through keys
print(student.get("course"))
print(student.get("age"))

Python
25

In [7]:
# to add items in dictionary
student['city']='Lucknow'
print(student)

{'name': 'John', 'age': 25, 'course': 'Python', 'marks': 78, 'city': 'Lucknow'}

In [8]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'course', 'marks', 'city'])
dict_values(['John', 25, 'Python', 78, 'Lucknow'])
dict_items([('name', 'John'), ('age', 25), ('course', 'Python'), ('marks', 78), ('city', 'Lucknow')])

In [9]:
for k,v in student.items():
  print(f'{k}:{v}')

name:John
age:25
course:Python
marks:78
city:Lucknow

In [10]:
a=10
b=35
sum = a+b
print("sum of",a,"and",b,"is",sum)
print(f'sum of {a} and {b} is {sum}')

sum of 10 and 35 is 45
sum of 10 and 35 is 45

In [11]:
company={
    'emp001':{
        'name': 'Varun',
        'age':20,
        'dept':'IT',
        'salary':25000
    },
    'emp002':{
        'name':"Arnav",
        'age':20,
        'dept':'IT',
        'salary':26000
    },
    'emp003':{
        'name':"Honey",
        'age':20,
        'dept':'IT',
        'salary':26000
    }
   
}
print(company)

{'emp001': {'name': 'Varun', 'age': 20, 'dept': 'IT', 'salary': 25000}, 'emp002': {'name': 'Arnav', 'age': 20, 'dept': 'IT', 'salary': 26000}, 'emp003': {'name': 'Honey', 'age': 20, 'dept': 'IT', 'salary': 26000}}

In [13]:
from pprint import pprint

In [14]:
pprint(company)

{'emp001': {'age': 20, 'dept': 'IT', 'name': 'Varun', 'salary': 25000},
 'emp002': {'age': 20, 'dept': 'IT', 'name': 'Arnav', 'salary': 26000},
 'emp003': {'age': 20, 'dept': 'IT', 'name': 'Honey', 'salary': 26000}}

In [1]:
print(company['emp002']['age'])

NameError: name 'company' is not defined