- Write a program to print numbers from 1 to 10 using a for loop.
- Write a program to print the multiplication table of a given number using a while loop.
- Write a program to find the sum of all even numbers between 1 and 100 using a for loop.
- Write a program to check if a given number is prime or not using a while loop.
- Write a program to calculate the factorial of a number using a for loop.
- Write a program to print the Fibonacci series up to a given limit using a for loop.
- Write a program to find the largest element in an array using a for loop.
- Write a program to reverse a given string using a while loop.
- Write a program to print the ASCII values of all uppercase letters using a for loop.
- Write a program to check if a given string is a palindrome using a for loop.
- Write a program to calculate the average of a list of numbers using a for loop.
- Write a program to find the smallest element in an array using a while loop.
- Write a program to calculate the sum of digits of a number using a for loop.
- Write a program to check if a given list of years has a leap year using a while loop.
- Write a program to print the multiplication table of numbers from 1 to 5 using a for loop.
- Write a program to find the factorial of a number using a for loop.
- Write a program to count the number of vowels in a given string using a for loop.
- Write a program to find the largest and smallest elements in an array using a for loop.
- Write a program to reverse the order of words in a sentence using a while loop.

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
a=int(input("Enter the number"))
i=1
while(i<=10):
    print(f"{a} X {i}={a*i}")
    i+=1

45 X 1=45
45 X 2=90
45 X 3=135
45 X 4=180
45 X 5=225
45 X 6=270
45 X 7=315
45 X 8=360
45 X 9=405
45 X 10=450

In [16]:
sum_even=0
for i in range(2,101,2):
    sum_even+=i
print(sum_even)

2550

In [9]:
def factorial(x):
    i = 1                      
    while x > 1:              
         i *= x                    
         x -= 1
    return i               
                      

b = factorial(5)
print(b)

120

In [2]:
number = list(map(int, input("Enter the numbers: ").split()))
print(number)
max_num=number[0]
for i in number:
    if(max_num)<i:
       max_num=i
print(max_num)

[14, 96, 78, 69, 1023]
1023

In [5]:
for char in range(65,90):
    print(f"{chr(char)}={char}")

A=65
B=66
C=67
D=68
E=69
F=70
G=71
H=72
I=73
J=74
K=75
L=76
M=77
N=78
O=79
P=80
Q=81
R=82
S=83
T=84
U=85
V=86
W=87
X=88
Y=89

In [5]:
ascii_value=int(input("Enter the number between (65 to 122)"))
if (0<ascii_value<123):
    character=chr(ascii_value)
    print(f"{chr(ascii_value)} is {ascii_value}")
else:
    print(f"{ascii_value} not in range")

E is 69

In [ ]:
numbers = list(map(int, input("Enter numbers separated by space: ").split()))
i=1
min_num=numbers[0]
while(i<=len(numbers)):
    if(numbers[i]<min_num):
        min_num=numbers[i]
    i+=1
print(min_num)

7

In [2]:
number=list(map(int,input("Enter the numbers").split()))
min_number=number[0]
for i in number:
    if(i<min_number):
        min_number=i
print(min_number)

14

In [5]:
a=list(map(int,input("Enter the numbers").split()))
sum=0
for i in a:
    sum+=i
a_average=sum/len(a)    
print(a_average)

2.0

In [ ]:
a=list(map(int,input("Enter the year").split()))
for i in a:
    if(i%4==0 and i%100!=0) or (i%400==0):
        print(f"{i} is a leap year")
    else:
        print(f"{i} is  leap year")

1974 is  leap year
1980 is a leap year
2004 is a leap year

In [18]:
a=input("Enter the number")
sum_of_digit=0
for i in a:
    sum_of_digit+=int(i)
print(sum_of_digit)

6

In [51]:
a=input("Enter any string")
temp=0
for i in a:
    if(i in "aeiouAEIOU"):
        temp+=1
print(temp)

3

In [30]:
for num in range(1,6):
    print(f"Multiplication table of {num} is ")
    for i in range(1,11):
        print(f"{num} X {i} = {num*i}")

Multiplication table of 1 is
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
Multiplication table of 2 is
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
Multiplication table of 3 is
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
Multiplication table of 4 is
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
Multiplication table of 5 is
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [35]:
a=int(input("Enter the number"))
num=1
for i in range(1,a+1):
    num*=i
print(num)

120

In [57]:
a=list(map(int,input("Enter the numbers").split()))
max_number=a[0]
min_number=a[0]
for i in a:
    if(i>max_number):
        max_number=i
print(max_number)
for j in a:
    if(j<min_number):
        min_number=j
print(min_number)

9
1

In [67]:
a=list(map(int,input("Enter the year").split()))
i=0
while(i<len(a)):
    year=a[i]
    if(year%4==0 and year%100!=0) or (year%400==0):
        print(f'{year} is a leap year')
    i+=1

2024 is a leap year
2032 is a leap year